.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoList{
  height: 300px;
  width: 250px;
  border: 2px solid black;
  padding: 24px;
  overflow: scroll;
  
}

.listItem{
  padding: 18px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 12px;
  list-style: none;
}

.listItem:hover{
  background-color: lightblue;
  cursor: pointer;
}

.link{
  text-decoration: none;
  
}

.link:hover{
  animation: enlarge .5s   ;
}
@keyframes enlarge {
  50%{
    transform: scale(2);
  }

  100%{
    transform: scale(1);
  }
}